@using Vapour.Domain.Configuration
@model Vapour.Web.Models.ProjectsViewModel

@{
    Page.Title = "Vapour Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Projects</h1>
        </div>
        <div class="col-md-2 create-container">
            <a href="~/Projects/New" class="btn btn-default btn-lg" role="button">Create New &raquo;</a>
        </div>
    </div>
    <hr/>
    @foreach (var project in Model.Projects)
    {
        <div class="panel panel-info row">
            <div class="panel-heading">
                <h2 class="panel-title">@project.Key</h2>
            </div>
            <div class="panel-body col-md-12">
                <div class="col-xs-12 col-sm-5 col-md-3">
                    <label class="control-label">Environment:</label>
                    @Html.DropDownListFor(x => x.Projects[project.Key].Environments, new SelectList(Model.Projects[project.Key].Environments), new { @class = "form-control" })
                </div>
                <div class="col-xs-12 col-sm-5 col-md-3">
                    <label class="control-label">Tests:</label>
                    @Html.DropDownListFor(x => x.Projects[project.Key].TestDescriptions, new SelectList(Model.Projects[project.Key].TestDescriptions), new { @class = "form-control" })
                </div>
                <div class="col-xs-6 col-sm-1 col-md-3">
                    <span class="btn btn-success btn-edit pull-right" data-projectname="@project.Key">Edit</span>
                </div>
                <div class="col-xs-6 col-sm-1 col-md-3">
                    <span class="btn btn-success btn-run" data-projectname="@project.Key">Run</span>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(function() {
        $('.btn-run').click(function() {
            window.location.assign('@Config.Current.VapourApiUrl/Test/' + CreateProjectUrl(this));
        });
        $('.btn-edit').click(function () {
            window.location.assign('/Edit/' + CreateProjectUrl(this));
        });
    });

    function GetProjectDetailsFromDropDowns(button) {
        var projectDropDowns = $(button).parent().siblings().children('select');
        var environment = $(projectDropDowns[0]).val();
        var testDescription = $(projectDropDowns[1]).val();
        var projectName = $(button).attr('data-projectName');

        return { "projectName" : projectName, "environment": environment, "testDescription": testDescription };
    }

    function CreateProjectUrl(button) {
        var projectDetails = GetProjectDetailsFromDropDowns(button);
        return projectDetails.projectName + '/' + projectDetails.environment + '/' + projectDetails.testDescription;
    }
</script>
<style>
    .panel-info h2 {
        color: #222222;
    }
     .btn-run, .btn-edit {
         margin-top: 30px;
     }

     .create-container {
         margin-top: 20px;
     }

    .control-label {
        margin-top: 5px;
    }

    .vcenter {
        vertical-align: middle;
    }

    .jumbotron {
        padding: 20px;
    }

    .heading a {
        margin-top: 20px;
    }

    .panel-heading h2 {
        font-size: 1.3em;
    }

    .heading-line {
        margin: 0;
        border: 100% solid;
    }
</style>